.ChatWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.h1ContainerWrapper {
  height: 8vh;
  display: flex;
  align-items: flex-end;
}

.h1Container {
  height: 80%;
  background-color: red;
  width: 65vw;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 3.75em;
  /* padding: 1.25vh 0; */
  font-family: 'Bungee Hairline', cursive;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 10px #fff;

}

.messagesContainer {
  overflow-y: auto;
  border: 2px solid green;
  min-height: 50vh;
  max-height: 50vh;
  width: 65vw;
  background-color: black;
}

.message {
  background-color: black;
  color: green;
  font-weight: 900;
  /* text-shadow: 0 0 10px green; */
}

.p {
  padding: 8px 10px;
  font-family: 'Roboto Mono', monospace;
}

.form {
  height: 8vh;
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textInput {
  width: 75%;
  height: 60%;
  font-size: 16px;
  padding: 0 10px;
  border: 1.5px solid black;
}

.textInputEmpty {
  width: 75%;
  height: 60%;
  font-size: 16px;
  padding: 0 10px;
  border: 0.5px solid black;
}

.formButton {
  width: 20%;
  height: 60%;
  font-family: 'Bungee Hairline', cursive;
  font-size: 16px;
  background-color: limegreen;
  color: white;
  text-shadow: 0 0 10px #fff;
  font-weight: 900;
  border: 1.5px solid black;
}

.formButton:disabled {
  background-color: #E8E9EE;
  border: 0.5px solid black;
  color: grey;
}

@media only screen and (max-width: 700px) {
  .h1 {
    font-size: 1.25em;
    /* font-size: 2vw; */
    padding: 1.25vh 0;
    height: 8vh;
    border: 2px solid white;
  }
  
}