.descrambler-container {
  height: 22vh;
  width: 24.44vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  text-align: center;
  padding: 1.1vh;
  border: 2px dashed black;
  border-radius: 50%;
}

.descrambler-left-container {
  grid-template-areas: 
    ". . . l4 . . l5 . . ."
    ". . . . . . . . . ."
    ". l3 . num-l num-l num-l num-l . l6 ."
    ". . . num-l num-l num-l num-l . . ."
    "l2 . . num-l num-l num-l num-l . . l7"
    ". . . num-l num-l num-l num-l . . ."
    ". l1 . . . . . . l8 ."
    ". . . . . . . . . ."
    ". . . l0 . . l9 . . .";
}

.descrambler-right-container {
  grid-template-areas: 
    ". . . r4 . . r5 . . ."
    ". . . . . . . . . ."
    ". r3 . num-r num-r num-r num-r . r6 ."
    ". . . num-r num-r num-r num-r . . ."
    "r2 . . num-r num-r num-r num-r . . r7"
    ". . . num-r num-r num-r num-r . . ."
    ". r1 . . . . . . r8 ."
    ". . . . . . . . . ."
    ". . . r0 . . r9 . . .";
}

.dsc-btn {
  text-align: center;
  border-radius: 100%;
  background-color: white;
  border: 1px solid black;
  box-sizing: content-box;
  margin: .2px 0;
  font-size: 16px;
  padding: 0 5px;
}

.dcs-display-number-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dcs-display-number {
  font-size: 3em;
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
  color: black;
}

.dcs-display-number-left {
  grid-area: num-l;
}

.dcs-display-number-right {
  grid-area: num-r;
}



.dsc-lft-0 {
  grid-area: l0;
}
.dsc-lft-1 {
  grid-area: l1;
}
.dsc-lft-2 {
  grid-area: l2;
}
.dsc-lft-3 {
  grid-area: l3;
}
.dsc-lft-4 {
  grid-area: l4;
}
.dsc-lft-5 {
  grid-area: l5;
}
.dsc-lft-6 {
  grid-area: l6;
}
.dsc-lft-7 {
  grid-area: l7;
}
.dsc-lft-8 {
  grid-area: l8;
}
.dsc-lft-9 {
  grid-area: l9;
}

.dsc-right-0 {
  grid-area: r0;
}
.dsc-right-1 {
  grid-area: r1;
}
.dsc-right-2 {
  grid-area: r2;
}
.dsc-right-3 {
  grid-area: r3;
}
.dsc-right-4 {
  grid-area: r4;
}
.dsc-right-5 {
  grid-area: r5;
}
.dsc-right-6 {
  grid-area: r6;
}
.dsc-right-7 {
  grid-area: r7;
}
.dsc-right-8 {
  grid-area: r8;
}
.dsc-right-9 {
  grid-area: r9;
}

.dials-container {
  display: flex;
  justify-content: space-around;
}

.dsc-btn-sel {
  background-color: green;
  color: white;
}

@media only screen and (max-height: 600px) {
  .dsc-btn {
    padding: 1px 4px;
    font-size: 12px;
  }
}