.chatContainer {
  border: 1px solid red;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatWrapper {
  border: 1px solid blue;
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer {
  height: 23vh;
  width: 80%;
  /* background-color: orange; */
  /* padding: 15px 0; */
}