* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.App {
  /* background: linear-gradient(
    to bottom,
    black,
    white,
    #9E9A95
  ); */
  background: #E9EAEE;

  height: 100vh;
}