* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.App {
  background: #E9EAEE;
  height: 100vh;
}

.page-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-container {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.h1ContainerWrapper {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: flex-end;
}

.h1Container {
  width: 100%;
  height: 80%;
  background-color: red;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 2.75em;
  font-family: 'Bungee Hairline', cursive;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 10px #fff;
  letter-spacing: 10px;
}

.content-container {
  overflow-y: auto;
  border: 2px solid white;
  border-top: none;
  min-height: 50vh;
  max-height: 50vh;
  width: 100%;
  background-color: black;
}

.inner-content {
  color: white;
  font-family: 'Roboto Mono', monospace;
  padding: 8px 10px;
}

.inner-content-a {
  color: white;
  margin: 4px 0;
}

.inner-content-a, .inner-content-p, .inner-content-span {
  /* color: white; */
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

.inner-content-a:hover{
  color: limegreen;
}

.button-green {
  width: 150px;
  height: 60%;
  font-family: 'Bungee Hairline', cursive;
  font-size: 16px;

  background-color: limegreen;
  color: white;
  text-shadow: 0 0 10px #000;
  font-weight: 900;
  border: 1.5px solid black;
}

.button-green:hover {
  cursor: pointer;
}


.button-green:disabled {
  background-color: #E8E9EE;
  border: 0.5px solid black;
  color: grey;
  text-shadow: 0 0 10px #fff;
  cursor: default;
}


@media only screen and (max-width: 800px) {
  .button-green {
    width: 100px;
  }
}